<launch>
  <arg name="run_id" default="" />

  <arg name="flow_csv_dir" default="$(find data_process)/logs"
       unless="$(eval arg('run_id') != '')" />
  <arg name="ekf_test_csv_dir" default="$(find data_process)/logs"
       unless="$(eval arg('run_id') != '')" />

  <arg if="$(eval arg('run_id') != '')"
       name="log_base"
       value="$(eval env('HOME') + '/swarm_localization/logs/run_' + str(arg('run_id')))" />
  <arg if="$(eval arg('run_id') != '')"
       name="flow_csv_dir"
       value="$(arg log_base)/ins_eskf" />
  <arg if="$(eval arg('run_id') != '')"
       name="ekf_test_csv_dir"
       value="$(arg log_base)/ins_eskf_test" />

  <include file="$(find data_process)/launch/ins_eskf_multi.launch">
    <arg name="flow_csv_dir" value="$(arg flow_csv_dir)" />
  </include>

  <node pkg="sensors" type="xtdrone_four_uav_formation" name="xtdrone_formation" output="screen">
    <param name="takeoff_timeout" value="15.0" />
    <param name="takeoff_climb_rate" value="0.45" />
    <param name="landing_timeout" value="25.0" />
  </node>

  <node pkg="data_process" type="ins_eskf_test" name="ins_eskf_test" output="screen">
    <rosparam param="drone_names">["iris_0", "iris_1", "iris_2", "iris_3"]</rosparam>
    <param name="csv_dir" value="$(arg ekf_test_csv_dir)" />
    <param name="reference_name" value="iris_0" />
    <param name="initial_spacing" value="2.0" />
    <param name="max_ekf_align_dt" value="0.12" />
    <param name="max_model_align_dt" value="0.03" />
  </node>
</launch>
