<launch>
  <!--
    如果 csv_dir 非空, 传递给每个 uwb_zero_score 节点,
    否则使用代码内默认 (test/logs/uwb_test)
  -->
  <arg name="csv_dir" default="" />

  <group ns="iris_0">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen">
      <param name="uav_num" value="4" />
      <param name="window_size" value="5" />
      <param name="z_score_threshold" value="3.0" />
      <param name="min_stddev" value="0.08" />
      <param name="warmup_stddev_threshold" value="0.02" />
      <param name="max_consecutive_rejects" value="5" />
      <param name="publish_rate" value="25.0" />
      <param name="csv_dir" value="$(arg csv_dir)" />
    </node>
  </group>
  <group ns="iris_1">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen">
      <param name="uav_num" value="4" />
      <param name="window_size" value="5" />
      <param name="z_score_threshold" value="3.0" />
      <param name="min_stddev" value="0.08" />
      <param name="warmup_stddev_threshold" value="0.02" />
      <param name="max_consecutive_rejects" value="5" />
      <param name="publish_rate" value="25.0" />
      <param name="csv_dir" value="$(arg csv_dir)" />
    </node>
  </group>
  <group ns="iris_2">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen">
      <param name="uav_num" value="4" />
      <param name="window_size" value="5" />
      <param name="z_score_threshold" value="3.0" />
      <param name="min_stddev" value="0.08" />
      <param name="warmup_stddev_threshold" value="0.02" />
      <param name="max_consecutive_rejects" value="5" />
      <param name="publish_rate" value="25.0" />
      <param name="csv_dir" value="$(arg csv_dir)" />
    </node>
  </group>
  <group ns="iris_3">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen">
      <param name="uav_num" value="4" />
      <param name="window_size" value="5" />
      <param name="z_score_threshold" value="3.0" />
      <param name="min_stddev" value="0.08" />
      <param name="warmup_stddev_threshold" value="0.02" />
      <param name="max_consecutive_rejects" value="5" />
      <param name="publish_rate" value="25.0" />
      <param name="csv_dir" value="$(arg csv_dir)" />
    </node>
  </group>
</launch>
