<launch>
  <group ns="iris_0">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen" />
  </group>
  <group ns="iris_1">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen" />
  </group>
  <group ns="iris_2">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen" />
  </group>
  <group ns="iris_3">
    <node pkg="data_process" type="uwb_zero_score" name="uwb_zero_score" output="screen" />
  </group>
</launch>
