<?xml version="1.0"?>
<model>
  <name>Iris with UWB, optical flow, ToF and front camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_uwb_flow_tof_frontcam.sdf</sdf>

  <author>
   <name>Guanzheng Wang</name>
   <email>gaunzhengcn@foxmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with optical flow, a downward ToF,
    a front monocular camera, and a ROS-simulated UWB payload.
  </description>
</model>
