<launch>
  <arg name="run_id" default="" />

  <arg name="angle_csv_dir" default="$(find test)/logs"
       unless="$(eval arg('run_id') != '')" />
  <arg if="$(eval arg('run_id') != '')"
       name="log_base"
       value="$(eval env('HOME') + '/swarm_localization/run_data/run_' + str(arg('run_id')))" />
  <arg if="$(eval arg('run_id') != '')"
       name="angle_csv_dir"
       value="$(arg log_base)/angle_error_cal" />

  <group ns="iris_0">
    <node pkg="sensors" type="image.py" name="image_saver" output="screen" />
    <node pkg="data_process" type="tf_bridge.py" name="tf_bridge" output="screen" />
    <node pkg="data_process" type="camera_relative_angle_cal" name="camera_relative_angle_cal" output="screen" />
    <node pkg="test" type="angle_error_cal" name="angle_error_cal" output="screen">
      <param name="max_match_error" value="1.0" />
      <param name="csv_dir" value="$(arg angle_csv_dir)" />
    </node>
  </group>

  <group ns="iris_1">
    <node pkg="sensors" type="image.py" name="image_saver" output="screen" />
    <node pkg="data_process" type="tf_bridge.py" name="tf_bridge" output="screen" />
    <node pkg="data_process" type="camera_relative_angle_cal" name="camera_relative_angle_cal" output="screen" />
    <node pkg="test" type="angle_error_cal" name="angle_error_cal" output="screen">
      <param name="max_match_error" value="1.0" />
      <param name="csv_dir" value="$(arg angle_csv_dir)" />
    </node>
  </group>

  <node pkg="test" type="two_uavs_formation" name="two_uavs_formation" output="screen">
    <param name="takeoff_timeout" value="15.0" />
    <param name="landing_timeout" value="25.0" />
    <param name="takeoff_climb_rate" value="0.45" />
  </node>
</launch>
