<launch>
  <!-- UWB 测距模拟 (4 架无人机) -->
  <include file="$(find sensors)/launch/uwb.launch" />

  <!-- UWB Zero-Score 异常值剔除 + 均值滤波 (4 架无人机) -->
  <include file="$(find data_process)/launch/uwb_zero_score.launch" />

  <!-- 四机编队飞行控制器 -->
  <node pkg="sensors" type="xtdrone_four_uav_formation" name="four_uavs_formation" output="screen" />
</launch>
