<launch>
  <group ns="iris_0">
    <node pkg="sensors" type="ins_estimator" name="ins_estimator" output="screen" />
  </group>
  <group ns="iris_1">
    <node pkg="sensors" type="ins_estimator" name="ins_estimator" output="screen" />
  </group>
  <group ns="iris_2">
    <node pkg="sensors" type="ins_estimator" name="ins_estimator" output="screen" />
  </group>
  <group ns="iris_3">
    <node pkg="sensors" type="ins_estimator" name="ins_estimator" output="screen" />
  </group>
</launch>
