<launch>
  <group ns="iris_0">
    <node pkg="sensors" type="uwb" name="uwb" output="screen" respawn="true">
      <param name="uav_num" value="4" />
      <param name="rate" value="25.0" />
      <param name="noise_stddev" value="0.08" />
      <param name="min_distance" value="0.0" />
    </node>
  </group>
  <group ns="iris_1">
    <node pkg="sensors" type="uwb" name="uwb" output="screen" respawn="true">
      <param name="uav_num" value="4" />
      <param name="rate" value="25.0" />
      <param name="noise_stddev" value="0.08" />
      <param name="min_distance" value="0.0" />
    </node>
  </group>
  <group ns="iris_2">
    <node pkg="sensors" type="uwb" name="uwb" output="screen" respawn="true">
      <param name="uav_num" value="4" />
      <param name="rate" value="25.0" />
      <param name="noise_stddev" value="0.08" />
      <param name="min_distance" value="0.0" />
    </node>
  </group>
  <group ns="iris_3">
    <node pkg="sensors" type="uwb" name="uwb" output="screen" respawn="true">
      <param name="uav_num" value="4" />
      <param name="rate" value="25.0" />
      <param name="noise_stddev" value="0.08" />
      <param name="min_distance" value="0.0" />
    </node>
  </group>
</launch>
